<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:id="@+id/recyclerView"
    android:orientation="horizontal"
    android:layout_width="match_parent"
    android:layout_height="90dp"
    android:layout_weight="50"
    android:layout_marginTop="1dp"
    android:paddingRight="10dp"
    android:paddingLeft="10dp"
    android:background="#eeeeee"
    android:weightSum="100"
    android:gravity="center"
    android:visibility="visible"
    android:scaleX="0.9"
    android:scaleY="0.9">
    <LinearLayout
        android:id="@+id/box"
        android:layout_width="0dp"
        android:layout_height="match_parent"
        android:layout_weight="88"
        android:orientation="vertical"
        android:paddingRight="10dp"
        android:paddingLeft="10dp"
        android:paddingTop="7dp"
        android:paddingBottom="7dp">
        <TextView
            android:id="@+id/txtDesc"
            android:text="Descrição"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:textColor="#000"
            android:gravity="center_vertical"
            android:padding="2dp"
            android:textSize="18sp" />
        <TextView
            android:id="@+id/txtHour"
            android:text="Hora"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:textColor="#000"
            android:gravity="center_vertical"
            android:padding="2dp"
            android:textSize="16sp" />
        <TextView
            android:id="@+id/txtDate"
            android:text="Date"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:textColor="#000"
            android:gravity="center_vertical"
            android:padding="2dp"
            android:textSize="14sp"
            android:singleLine="true" />
    </LinearLayout>
    <LinearLayout
        android:id="@+id/box2"
        android:layout_width="0dp"
        android:layout_height="match_parent"
        android:layout_weight="12"
        android:orientation="vertical"
        android:minWidth="25px"
        android:minHeight="25px"
        android:paddingRight="5dp">
        <TextView
            android:id="@+id/txtTime"
            android:text="15m"
            android:layout_width="match_parent"
            android:layout_height="wrap_content"
            android:gravity="center_horizontal"
            android:paddingTop="5dp" />
        <CheckBox
            android:id="@+id/cbxStart"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            android:button="@android:drawable/btn_star" />
    </LinearLayout>
</LinearLayout>