<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:p1="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    p1:orientation="vertical"
    p1:minWidth="25px"
    p1:minHeight="25px"
    p1:weightSum="100"
    p1:layout_width="match_parent"
    p1:layout_height="match_parent"
    p1:id="@+id/linearLayout1"
    p1:background="#092B5A"
    p1:visibility="visible">
    <TextView
        p1:text="00:00"
        p1:textAppearance="?android:attr/textAppearanceMedium"
        p1:textColor="#ffffff"
        p1:textStyle="bold"
        p1:textSize="55dp"
        p1:id="@+id/txtTime"
        p1:gravity="center_horizontal"
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content"
        p1:paddingTop="10dp"
        p1:paddingBottom="10dp" />
    <LinearLayout
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content"
        p1:orientation="horizontal"
        p1:layout_marginEnd="20dp"
        p1:layout_marginLeft="20dp"
        p1:id="@+id/linearLayout9"
        p1:gravity="center"
        p1:minWidth="25px"
        p1:minHeight="25px"
        p1:layout_gravity="center"
        p1:layout_weight="5">
        <Button
            p1:text="Mensal"
            p1:layout_width="100dp"
            p1:layout_height="30dp"
            p1:id="@+id/btnMonth"
            p1:layout_marginRight="10dp"
            p1:layout_marginLeft="50dp"
            p1:background="#0f4a9a"
            p1:layout_marginTop="5dp" />
        <Button
            p1:text="Semanal"
            p1:layout_width="100dp"
            p1:layout_height="30dp"
            p1:id="@+id/btnWeek"
            p1:layout_marginRight="50dp"
            p1:layout_marginLeft="10dp"
            p1:background="#0f4a9a"
            p1:layout_marginTop="5dp" />
    </LinearLayout>
    <LinearLayout
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content"
        p1:weightSum="100"
        p1:orientation="vertical"
        p1:layout_marginEnd="20dp"
        p1:layout_marginLeft="20dp"
        p1:id="@+id/ComponentWeek"
        p1:layout_marginBottom="20dp"
        p1:gravity="center"
        p1:layout_marginTop="20dp"
        p1:visibility="visible">
        <CheckBox
            p1:text="Repetir"
            p1:id="@+id/ckRep"
            p1:textStyle="bold"
            p1:textSize="15dp"
            p1:layout_width="wrap_content"
            p1:layout_height="match_parent"
            p1:layout_gravity="left"
            p1:layout_marginLeft="35dp"
            p1:layout_marginBottom="10dp" />
        <LinearLayout
            p1:layout_width="match_parent"
            p1:layout_height="wrap_content"
            p1:weightSum="100"
            p1:orientation="horizontal"
            p1:layout_marginEnd="20dp"
            p1:layout_marginLeft="20dp"
            p1:id="@+id/LL1"
            p1:layout_marginBottom="10dp"
            p1:gravity="center"
            p1:layout_marginTop="10dp"
            p1:visibility="visible">
        <!--Domingo-->
            <LinearLayout
                p1:layout_width="wrap_content"
                p1:layout_height="wrap_content"
                p1:layout_weight="10"
                p1:gravity="center"
                p1:orientation="vertical"
                p1:id="@+id/linearLayout2">
                <CheckBox
                    p1:layout_width="wrap_content"
                    p1:layout_height="wrap_content"
                    p1:id="@+id/ckSun"
                    p1:gravity="center"
                    p1:buttonTint="#ffffffff" />
                <TextView
                    p1:layout_width="wrap_content"
                    p1:layout_height="wrap_content"
                    p1:text="Dom"
                    p1:textAppearance="?android:attr/textAppearanceMedium"
                    p1:textColor="#ffffff"
                    p1:textStyle="bold"
                    p1:textSize="15dp"
                    p1:gravity="center_horizontal"
                    p1:id="@+id/txtSun" />
            </LinearLayout>
        <!--Segunda-->
            <LinearLayout
                p1:layout_width="wrap_content"
                p1:layout_height="wrap_content"
                p1:layout_weight="10"
                p1:gravity="center"
                p1:orientation="vertical"
                p1:id="@+id/linearLayout3">
                <CheckBox
                    p1:layout_width="wrap_content"
                    p1:layout_height="wrap_content"
                    p1:id="@+id/ckMon"
                    p1:buttonTint="#ffffffff" />
                <TextView
                    p1:layout_width="wrap_content"
                    p1:layout_height="wrap_content"
                    p1:text="Seg"
                    p1:textAppearance="?android:attr/textAppearanceMedium"
                    p1:textColor="#ffffff"
                    p1:textStyle="bold"
                    p1:textSize="15dp"
                    p1:id="@+id/txtMon" />
            </LinearLayout>
        <!--Terça-->
            <LinearLayout
                p1:layout_width="wrap_content"
                p1:layout_height="wrap_content"
                p1:layout_weight="10"
                p1:gravity="center"
                p1:orientation="vertical"
                p1:id="@+id/linearLayout4">
                <CheckBox
                    p1:layout_width="wrap_content"
                    p1:layout_height="wrap_content"
                    p1:id="@+id/ckTue"
                    p1:buttonTint="#ffffffff" />
                <TextView
                    p1:layout_width="wrap_content"
                    p1:layout_height="wrap_content"
                    p1:text="Ter"
                    p1:textAppearance="?android:attr/textAppearanceMedium"
                    p1:textColor="#ffffff"
                    p1:textStyle="bold"
                    p1:textSize="15dp"
                    p1:id="@+id/txtTue" />
            </LinearLayout>
        <!--Quarta-->
            <LinearLayout
                p1:layout_width="wrap_content"
                p1:layout_height="wrap_content"
                p1:layout_weight="10"
                p1:gravity="center"
                p1:orientation="vertical"
                p1:id="@+id/linearLayout5">
                <CheckBox
                    p1:layout_width="wrap_content"
                    p1:layout_height="wrap_content"
                    p1:id="@+id/ckWed"
                    p1:buttonTint="#ffffffff" />
                <TextView
                    p1:layout_width="wrap_content"
                    p1:layout_height="wrap_content"
                    p1:text="Qua"
                    p1:textAppearance="?android:attr/textAppearanceMedium"
                    p1:textColor="#ffffff"
                    p1:textStyle="bold"
                    p1:textSize="15dp"
                    p1:id="@+id/txtWed" />
            </LinearLayout>
        <!--Quinta-->
            <LinearLayout
                p1:layout_width="wrap_content"
                p1:layout_height="wrap_content"
                p1:layout_weight="10"
                p1:gravity="center"
                p1:orientation="vertical"
                p1:id="@+id/linearLayout6">
                <CheckBox
                    p1:layout_width="wrap_content"
                    p1:layout_height="wrap_content"
                    p1:id="@+id/ckThu"
                    p1:buttonTint="#ffffffff" />
                <TextView
                    p1:layout_width="wrap_content"
                    p1:layout_height="wrap_content"
                    p1:text="Qui"
                    p1:textAppearance="?android:attr/textAppearanceMedium"
                    p1:textColor="#ffffff"
                    p1:textStyle="bold"
                    p1:textSize="15dp"
                    p1:id="@+id/txtThu" />
            </LinearLayout>
        <!--Sexta-->
            <LinearLayout
                p1:layout_width="wrap_content"
                p1:layout_height="wrap_content"
                p1:layout_weight="10"
                p1:gravity="center"
                p1:orientation="vertical"
                p1:id="@+id/linearLayout7">
                <CheckBox
                    p1:layout_width="wrap_content"
                    p1:layout_height="wrap_content"
                    p1:id="@+id/ckFri"
                    p1:buttonTint="#ffffffff" />
                <TextView
                    p1:layout_width="wrap_content"
                    p1:layout_height="wrap_content"
                    p1:text="Sex"
                    p1:textAppearance="?android:attr/textAppearanceMedium"
                    p1:textColor="#ffffff"
                    p1:textStyle="bold"
                    p1:textSize="15dp"
                    p1:id="@+id/txtFri" />
            </LinearLayout>
        <!--Sabado-->
            <LinearLayout
                p1:layout_width="wrap_content"
                p1:layout_height="wrap_content"
                p1:layout_weight="10"
                p1:gravity="center"
                p1:orientation="vertical"
                p1:id="@+id/linearLayout8">
                <CheckBox
                    p1:layout_width="wrap_content"
                    p1:layout_height="match_parent"
                    p1:id="@+id/ckSat"
                    p1:buttonTint="#ffffffff" />
                <TextView
                    p1:layout_width="wrap_content"
                    p1:layout_height="wrap_content"
                    p1:text="Sab"
                    p1:textAppearance="?android:attr/textAppearanceMedium"
                    p1:textColor="#ffffff"
                    p1:textStyle="bold"
                    p1:textSize="15dp"
                    p1:id="@+id/txtSat" />
            </LinearLayout>
        </LinearLayout>
    </LinearLayout>
    <LinearLayout
        p1:layout_width="match_parent"
        p1:layout_height="wrap_content"
        p1:orientation="vertical"
        p1:id="@+id/ComponentMonth"
        p1:visibility="gone"
        p1:layout_marginTop="10dp"
        p1:layout_marginBottom="10dp">
        <TextView
            p1:text="Selecione uma data:"
            p1:textAppearance="?android:attr/textAppearanceMedium"
            p1:layout_width="match_parent"
            p1:layout_height="wrap_content"
            p1:textColor="#ffffff"
            p1:textStyle="bold"
            p1:textSize="20dp"
            p1:id="@+id/txtMonthDesc"
            p1:gravity="center" />
        <TextView
            p1:text="00/00/0000"
            p1:textAppearance="?android:attr/textAppearanceMedium"
            p1:layout_width="match_parent"
            p1:layout_height="wrap_content"
            p1:textColor="#ffffff"
            p1:textStyle="bold"
            p1:textSize="20dp"
            p1:id="@+id/txtMonth"
            p1:gravity="center" />
    </LinearLayout>
    <TextView
        p1:text="Descrição:"
        p1:textAppearance="?android:attr/textAppearanceMedium"
        p1:layout_width="match_parent"
        p1:layout_height="0dp"
        p1:layout_weight="10"
        p1:textColor="#ffffff"
        p1:textStyle="bold"
        p1:textSize="15dp"
        p1:id="@+id/txtDesc"
        p1:gravity="center_vertical"
        p1:layout_marginLeft="20dp"
        p1:layout_marginEnd="20dp" />
    <EditText
        p1:inputType="text"
        p1:layout_width="match_parent"
        p1:layout_weight="10"
        p1:id="@+id/edtDesc"
        p1:layout_marginRight="20dp"
        p1:layout_marginLeft="20dp"
        p1:drawablePadding="5dp"
        p1:selectAllOnFocus="true"
        tools:visibility="visible"
        p1:drawingCacheQuality="auto"
        p1:textColor="#000000"
        p1:background="#ffffff"
        p1:text="teste"
        p1:paddingStart="5dp"
        p1:layout_height="0dp" />
    <Button
        p1:text="Salvar"
        p1:layout_width="match_parent"
        p1:layout_height="0dp"
        p1:layout_weight="15"
        p1:id="@+id/btnSaveTask"
        p1:layout_marginRight="50dp"
        p1:layout_marginLeft="50dp"
        p1:background="#0f4a9a"
        p1:layout_marginTop="10dp" />
</LinearLayout>